
/*effects header only*/
header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 10%;
    height: 70px;
    font-size: smaller;
}


/* Effects everything */
body {
    font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI;
}

/*other general styles*/
h1 {
    font-size:xx-large;
    text-align: center;
}

h3 {
    font-size: x-large;
}

img {
    max-height: 500px;
    max-width: 50%;
    object-fit: contain; /*will maintain image aspect ratio*/
}

iframe {
    
    max-width: 75%;
    object-fit: contain;
}

a {
    color: #212529;
}
a:hover {
    color: #0085A1;
}

footer {
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}


 /*using the following website for two flex column ideas and page-wrapper ideas:
 https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01*/
 /*Note, all of the styles on this page are still made from scratch by Jaden Taylor*/
.page-wrapper {
    margin: 15px;
    /* background-color: red; */
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 10px;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-bottom: 30px; /*separates each row */
    padding-top: 30px;
  }


/*greyRow and whiteRow allows rows to alternate colors*/
.greyRow {
background-color: rgb(229, 229, 229);
}
.whiteRow {
background-color: rgb(247, 250, 250);
}


/* Media query for mobile devices */
@media (max-width: 768px) { /* Adjust max-width as needed for specific breakpoint */
    header {
        padding-left: 0%;
        padding-right: 0%;
        flex-direction: column;
    }

    img {
        max-width: 100%;
    }
    
    iframe {
        max-width: 100%;
    }

    .row {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
    }

}



/*extra specific styles*/

/*add padding to every 2nd column*/
.leftPadding {
    padding-left: 20px;
}

/* add caps lock to word/phrase */
.toUpper {
    text-transform: uppercase;
}


